@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Arista-Bold";
  src: local("Arista-Bold"),   url(../fonts/Arista-Pro-Bold-trial.ttf) format("truetype");
}
@font-face {
  font-family: "DinPro-Regular";
  src: local("DinPro-Regular"),   url(../fonts/DINPro.ttf) format("truetype");
}
p{
  font-family: "DinPro-Regular";
}

.home-title{
  font-family: "Arista-Bold";
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
}

.buttons-alignement,.counter-alignement{
  left:50%;
  transform:translateX(-50%);
}
